<div id="wrapper">
      <div id="header">
        <h1 id="site_title">Ranking do Dimitri - Uff2012</h1>
      </div>
      <div id="title_bar">
        <div id="titlebar_left">
          <h2 id="page_title"><%=@curso.nome%></h2>
        </div>        
      </div>
</div>

<div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
        <div id="main_content">
            
            <table border="0" cellspacing="0" cellpadding="0" id="alunos" class="index_table">
        		<thead>
    				<th>Posição</th>
    				<th>Inscrição</th>
    				<th>Nome</th>
    				<th>Média</th>
    			</thead>
                <% @alunos.each_with_index do |aluno, index| %>
                	<% if (index+1) <= @curso.vagas %>
                		<tr style="background-color:#F0F6FF">
                	<% else %>		
                    	<tr>                
                    <% end %>
                        <td><%= index+1 %></td>
                        <td><%= aluno.matricula %></td>
                        <td><%= aluno.nome %></td>
                        <td><%= '%.4f' % aluno.media %></td>
                    </tr>
                <% end %>             
            </table>
        </div>
    </div>
</div>

<div id="footer">
    <span>Todas as informações aqui contidas foram retiradas do site oficial - Conteúdo não oficial</span>
</div>
