<!DOCTYPE html>
<html>
<head>
  <title>Uff2012</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice" style="margin-bottom: 0px;"><%= notice %></p>
  <p class="alert" style="margin-bottom: 0px;"><%= alert %></p>
<%= yield %>

</body>
</html>
